Repository bellshade/HTML-CSS: changes, and which Mergify rules are due for each by the changed paths.
All: html label, css label, markdown label

html label:
  label:
    add:
    - html files

css label:
  label:
    add:
    - css files

markdown label:
  label:
    add:
    - markdown files

add: nesting elemen HTML (#246)
  HTML/004 HTML Elements/README.md
Due: markdown label

docs: menambah materi HTML Select
  HTML/038 HTML Select/README.md
Due: markdown label

add: menambahkan algoritma baru
  CSS/058 CSS Animation/README.md
Due: markdown label

docs: menambah materi HTML Select (#261)
  HTML/038 HTML Select/README.md
Due: markdown label

add: menambahkan HTML figure
  HTML/046 HTML Figure/README.md
Due: markdown label

add: menambahkan file html dan gambar
  HTML/046 HTML Figure/README.md
  HTML/046 HTML Figure/contoh-gambar.png
  HTML/046 HTML Figure/index.html
  HTML/046 HTML Figure/kucing-oren.jpg
Due: html label, markdown label

fix: memperbaiki tulisan
  HTML/046 HTML Figure/README.md
Due: markdown label

add: memberi komentar
  HTML/046 HTML Figure/index.html
Due: html label

menambahkan spasi
  README.md
Due: markdown label

add: menambahkan materi css animation
  CSS/058 CSS Animation/README.md
  CSS/058 CSS Animation/assets/css_animation.gif
  README.md
Due: markdown label

fix: menghilangkan komentar
  HTML/046 HTML Figure/README.md
Due: markdown label

docs: Membuat dokumentasi HTML Figure (#263)
  HTML/046 HTML Figure/README.md
  HTML/046 HTML Figure/contoh-gambar.png
  HTML/046 HTML Figure/index.html
  HTML/046 HTML Figure/kucing-oren.jpg
Due: html label, markdown label

add: menambahkan materi css animation (#265)
  CSS/058 CSS Animation/README.md
  CSS/058 CSS Animation/assets/css_animation.gif
  README.md
Due: markdown label

add: 033 HTML Symbols
  HTML/033 HTML Symbols/README.md
Due: markdown label

feat: add more examples
  HTML/038 HTML Select/README.md
Due: markdown label

add: 028 HTML Base
  HTML/028 HTML Base/README.md
Due: markdown label

add: 037 HTML Label
  HTML/037 HTML Label/README.md
Due: markdown label

feat: add more examples (#267)
  HTML/038 HTML Select/README.md
Due: markdown label

add: 028 HTML Base (#268)
  HTML/028 HTML Base/README.md
Due: markdown label

feat: add backtik to nomor dan entitas
  HTML/033 HTML Symbols/README.md
Due: markdown label

docs: 033 HTML Symbols (#266)
  HTML/033 HTML Symbols/README.md
Due: markdown label

add: 037 HTML Label (#269)
  HTML/037 HTML Label/README.md
Due: markdown label

add: 044 HTML SVG
  HTML/044 HTML SVG/README.md
Due: markdown label

add: menambahkan contoh
  HTML/044 HTML SVG/README.md
  HTML/044 HTML SVG/baseball.svg
  HTML/044 HTML SVG/contoh-1.png
  HTML/044 HTML SVG/index.html
Due: html label, markdown label

add: contoh penggunakan svg dan element svg
  HTML/044 HTML SVG/README.md
  HTML/044 HTML SVG/baseball.svg
  HTML/044 HTML SVG/contoh-1.png
  HTML/044 HTML SVG/html-icon.svg
  HTML/044 HTML SVG/index.html
Due: html label, markdown label

add: contoh gambar
  HTML/044 HTML SVG/README.md
  HTML/044 HTML SVG/img/circle.png
  HTML/044 HTML SVG/img/contoh-html-2.png
  HTML/044 HTML SVG/img/contoh-html.png
  HTML/044 HTML SVG/img/ellipse.png
  HTML/044 HTML SVG/img/line.png
  HTML/044 HTML SVG/img/rect.png
  HTML/044 HTML SVG/index.html
Due: html label, markdown label

add: melampirkan sumber
  HTML/044 HTML SVG/README.md
Due: markdown label

fix: memperbaiki tulisan
  HTML/044 HTML SVG/README.md
Due: markdown label

docs: 044 HTML SVG (#270)
  HTML/044 HTML SVG/README.md
  HTML/044 HTML SVG/html-icon.svg
  HTML/044 HTML SVG/img/circle.png
  HTML/044 HTML SVG/img/contoh-html-2.png
  HTML/044 HTML SVG/img/contoh-html.png
  HTML/044 HTML SVG/img/ellipse.png
  HTML/044 HTML SVG/img/line.png
  HTML/044 HTML SVG/img/rect.png
  HTML/044 HTML SVG/index.html
Due: html label, markdown label

feat: menambahkan materi column
  CSS/051 CSS Column/Readme.md
Due: markdown label

feat: menambahkan materi list
  CSS/022 CSS Lists/README.md
Due: markdown label

add: menambahkan kode html
  CSS/022 CSS Lists/README.md
  CSS/022 CSS Lists/icons8-beef-burger-24.png
  CSS/022 CSS Lists/index.html
Due: html label, markdown label

add: menambahkan gambar untuk contoh
  CSS/022 CSS Lists/README.md
  CSS/022 CSS Lists/index.html
  CSS/022 CSS Lists/list-bullet.png
  CSS/022 CSS Lists/list-image.png
  CSS/022 CSS Lists/list-numerik.png
  CSS/022 CSS Lists/list-position.png
  CSS/022 CSS Lists/list-type.png
Due: html label, markdown label

add: menambahkan penjelasan list
  CSS/022 CSS Lists/README.md
Due: markdown label

docs: menambahkan materi CSS Object position
  CSS/049 CSS Object Position/README.md
  CSS/049 CSS Object Position/image-unsplash.jpg
  CSS/049 CSS Object Position/index.html
Due: html label, markdown label

fix: memperbaiki tulisan
  CSS/049 CSS Object Position/README.md
  CSS/049 CSS Object Position/index.html
Due: html label, markdown label

fix: mengubah kode html
  CSS/049 CSS Object Position/index.html
Due: html label

add: menambahkan gambar untuk contoh
  CSS/049 CSS Object Position/README.md
  CSS/049 CSS Object Position/contoh-1.png
  CSS/049 CSS Object Position/contoh-lain.png
  CSS/049 CSS Object Position/image-unsplash.jpg
Due: markdown label

CSS list (#272)
  CSS/022 CSS Lists/README.md
  CSS/022 CSS Lists/icons8-beef-burger-24.png
  CSS/022 CSS Lists/index.html
  CSS/022 CSS Lists/list-bullet.png
  CSS/022 CSS Lists/list-image.png
  CSS/022 CSS Lists/list-numerik.png
  CSS/022 CSS Lists/list-position.png
  CSS/022 CSS Lists/list-type.png
Due: html label, markdown label

Path conditions:
  html label: any of: \.html$
  css label: any of: \.css$
  markdown label: any of: \.md$
