Repository bellshade/HTML-CSS: changes, and which Mergify rules are due for each by the changed paths.
All: html label, css label, markdown label

html label:
  label:
    add:
    - html files
    - request tim html untuk review

css label:
  label:
    add:
    - css files
    - request tim html-css untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

Mengganti tabel
  HTML/027 HTML Link/README.md
Due: markdown label

Update README.md
  HTML/027 HTML Link/README.md
Due: markdown label

Mengubah Isi HTML Link
  HTML/027 HTML Link/README.md
Due: markdown label

docs: memperbaiki dokumentasi HTML Links
  HTML/027 HTML Link/README.md
Due: markdown label

docs: mengganti sedikit penjelasan
  HTML/027 HTML Link/README.md
Due: markdown label

docs: memperbaiki dokumentasi textarea
  HTML/042 HTML Textarea/README.md
Due: markdown label

docs: memperbaiki dokumentasi html link
  HTML/027 HTML Link/README.md
Due: markdown label

docs: memperbaiki dokumentasi
  HTML/027 HTML Link/README.md
Due: markdown label

Menambahkan kalimat di Readme.md
  README.md
Due: markdown label

Mengkoreksi Readme.md
  README.md
Due: markdown label

add: HTML Head
  HTML/025 HTML Head/README.md
  HTML/025 HTML Head/img/favicon.png
Due: markdown label

fix: urutan folder
  HTML/025 HTML Head/README.md
  HTML/026 HTML Meta/README.md
  HTML/027 HTML Responsive/GAMBAR-sebelum.png
  HTML/027 HTML Responsive/GAMBAR-sesudah.png
  HTML/027 HTML Responsive/README.md
  HTML/028 HTML Computer Code/readme.md
  HTML/029 HTML Semantic/README.md
  HTML/030 HTML Entity/README.md
  HTML/033 HTML Forms/README.md
  HTML/034 HTML Input Types/README.md
  HTML/038 HTML Button/README.md
  HTML/040 HTML Data/README.md
  HTML/041 HTML Canvas/README.md
  HTML/045 HTML Video/README.md
  HTML/046 HTML Audio/README.md
  HTML/047 HTML Lang Code/README.md
  HTML/048 HTML Tags List/README.md
Due: markdown label

fix: memperbaiki link
  HTML/025 HTML Head/README.md
Due: markdown label

fix: memperbaiki link pada hyperlink baris 55
  HTML/025 HTML Head/README.md
Due: markdown label

docs: memperbaiki typo
  HTML/025 HTML Head/README.md
Due: markdown label

fix: struktur folder
  HTML/027 HTML Meta/README.md
  HTML/029 HTML Responsive/GAMBAR-sebelum.png
  HTML/029 HTML Responsive/GAMBAR-sesudah.png
  HTML/029 HTML Responsive/README.md
  HTML/030 HTML Computer Code/readme.md
  HTML/031 HTML Semantic/README.md
  HTML/032 HTML Entity/README.md
  HTML/035 HTML Forms/README.md
  HTML/036 HTML Input Types/README.md
  HTML/040 HTML Button/README.md
  HTML/042 HTML Data/README.md
  HTML/043 HTML Canvas/README.md
  HTML/047 HTML Video/README.md
  HTML/048 HTML Audio/README.md
  HTML/049 HTML Lang Code/README.md
  HTML/050 HTML Tags List/README.md
Due: markdown label

fix: update bot
  .mergify.yml
Due: none

Memperbaiki Repo
  .mergify.yml
  CONTRIBUTING.md
  CSS/000 CSS Introduction/README.md
  CSS/030 CSS Pseudo Elements/README.md
  HTML/021 HTML Id/README.md
  HTML/021 HTML Id/img/cara-memberi-style-pada-id.png
  HTML/021 HTML Id/img/specifity-pada-id.png
  HTML/023 HTML Script/README.md
  HTML/023 HTML Script/img/contoh-script-1.png
  HTML/023 HTML Script/img/contoh-script-2.png
  HTML/023 HTML Script/script.html
  HTML/026 HTML Link/README.md
  README.md
  Template/Bxtre Template/style.css
  Template/Profile Card/index.html
  Template/Profile Card/style.css
Due: html label, css label, markdown label

Duplikat Folder
  HTML/027 HTML Link/README.md
Due: markdown label

Mengubah nama Folder
  HTML/040 HTML Button/README.md
  HTML/041 HTML Textarea/README.md
Due: markdown label

Mengubah kata di readme
  HTML/026 HTML Link/README.md
Due: markdown label

Mengkoreksi kata di HTML Link
  HTML/026 HTML Link/README.md
Due: markdown label

Mengubah Folder HTML
  HTML/027 HTML Link/README.md
  HTML/042 HTML Textarea/README.md
Due: markdown label

Delete HTML/assets/images directory
  HTML/assets/images/Cool.mp4
Due: none

menghapus file tidak perlu
  HTML/assets/images/Cool.mp4
Due: none

Mengganti Template
  Template/Bee Templates/Responsive Portfolio/README.md
  Template/Bee Templates/Responsive Portfolio/asset/img/BeeCode.png
  Template/Bee Templates/Responsive Portfolio/asset/img/My Code.png
  Template/Bee Templates/Responsive Portfolio/dist/css/app.css
  Template/Bee Templates/Responsive Portfolio/dist/css/customize.css
  Template/Bee Templates/Responsive Portfolio/index.html
  Template/Bxtre Template/style.css
  Template/Profile Card/index.html
  Template/Profile Card/style.css
  Template/White Blue Template/css/style.css
  Template/White Blue Template/img/hobby/coding.webp
  Template/White Blue Template/img/hobby/gaming-2.webp
  Template/White Blue Template/img/hobby/music.webp
  Template/White Blue Template/img/logo_template.png
  Template/White Blue Template/img/portfolio/findmyhobby.webp
  Template/White Blue Template/img/portfolio/gawedong.webp
  Template/White Blue Template/img/portfolio/ikasma3bdg.webp
  Template/White Blue Template/img/portfolio/openblog.webp
  Template/White Blue Template/img/portfolio/smarthomeui.webp
  Template/White Blue Template/img/portfolio/sound.webp
  Template/White Blue Template/img/portfolio/twiceapi.webp
  Template/White Blue Template/img/profile-3.webp
  Template/White Blue Template/index.html
  Template/White Blue Template/js/script.js
  Template/White Blue Template/vendor/bootstrap/js/bootstrap.min.js
  Template/White Blue Template/vendor/bootstrap/js/bootstrap.min.js.map
  Template/White Blue Template/vendor/jquery/jquery.easing.1.3.js
  Template/White Blue Template/vendor/jquery/jquery.js
  Template/White Blue Template/vendor/popper/popper.min.js
Due: html label, css label, markdown label

Mengubah File Folder
  HTML/026 HTML Link/README.md
  HTML/039 HTML Textarea/README.md
Due: markdown label

Tidak Jadi di PR
  Template/Bxtre Template/index.html
Due: html label

Tidak Jadi di PR
  Template/Bxtre Template/style.css
Due: css label

Delete style.css
  Template/Profile Card/style.css
Due: css label

Tidak di PR
  Template/Profile Card/index.html
Due: html label

Add: menambahkan materi CSS baru yaitu CSS border
  CSS/008 CSS Borders/README.md
Due: markdown label

add: menambahkan materi CSS baru yaitu CSS border
  CSS/008 CSS Borders/README.md
Due: markdown label

fix: memperbaiki beberapa hal pada 008 CSS Borders
  CSS/008 CSS Borders/README.md
Due: markdown label

add: menambahkan materi CSS baru 008 CSS Borders
  CSS/008 CSS Borders/README.md
Due: markdown label

add: menambah penjelasan border sides
  CSS/008 CSS Borders/README.md
Due: markdown label

fix: memperbaiki sekaligus menambah beberapa kata
  CSS/008 CSS Borders/README.md
Due: markdown label

Path conditions:
  html label: any of: \.html$
  css label: any of: \.css$
  markdown label: any of: \.md$
