Repository bellshade/HTML-CSS: changes, and which Mergify rules are due for each by the changed paths.
All: html label, css label, markdown label

html label:
  label:
    add:
    - html files
    - request tim html untuk review

css label:
  label:
    add:
    - css files
    - request tim html-css untuk review

markdown label:
  label:
    add:
    - markdown files
    - request docs team untuk review

feat: White Blue Web Profile Template
  Template/White Blue Template/css/style.css
  Template/White Blue Template/img/banner.png
  Template/White Blue Template/img/logo.png
  Template/White Blue Template/img/profile.png
  Template/White Blue Template/index.html
  Template/White Blue Template/js/script.js
  Template/White Blue Template/vendor/bootstrap/js/bootstrap.min.js
  Template/White Blue Template/vendor/bootstrap/js/bootstrap.min.js.map
  Template/White Blue Template/vendor/jquery/jquery.easing.1.3.js
  Template/White Blue Template/vendor/jquery/jquery.js
  Template/White Blue Template/vendor/popper/popper.min.js
Due: html label, css label

docs: memperbarui akses cepat dan tambah TOC
  README.md
Due: markdown label

docs: memperbarui akses cepat dan tambah daftar isi
  README.md
Due: markdown label

fix: toggle dark mode center di mobile
  Template/White Blue Template/index.html
Due: html label

fix: toggle show navbar
  Template/Bee Template/Responsive Portfolio/README.md
  Template/Bee Template/Responsive Portfolio/asset/img/BeeCode.png
  Template/Bee Template/Responsive Portfolio/asset/img/My Code.png
  Template/Bee Template/Responsive Portfolio/dist/css/app.css
  Template/Bee Template/Responsive Portfolio/dist/css/customize.css
  Template/Bee Template/Responsive Portfolio/index.html
Due: html label, css label, markdown label

fix: rename folder
  Template/Bee Templates/Responsive Portfolio/README.md
  Template/Bee Templates/Responsive Portfolio/asset/img/BeeCode.png
  Template/Bee Templates/Responsive Portfolio/asset/img/My Code.png
  Template/Bee Templates/Responsive Portfolio/dist/css/app.css
  Template/Bee Templates/Responsive Portfolio/dist/css/customize.css
  Template/Bee Templates/Responsive Portfolio/index.html
Due: html label, css label, markdown label

fix: navbar otomatis tertutup saat link diklik
  Template/White Blue Template/index.html
  Template/White Blue Template/js/script.js
Due: html label

fix: menu close after clicked link
  Template/Bee Templates/Responsive Portfolio/dist/css/app.css
  Template/Bee Templates/Responsive Portfolio/index.html
Due: html label, css label

fix: menambah konten
  Template/White Blue Template/img/banner.png
  Template/White Blue Template/img/hobby/coding.webp
  Template/White Blue Template/img/hobby/gaming-2.webp
  Template/White Blue Template/img/hobby/music.webp
  Template/White Blue Template/img/logo.png
  Template/White Blue Template/img/logo_template.png
  Template/White Blue Template/img/portfolio/findmyhobby.webp
  Template/White Blue Template/img/portfolio/gawedong.webp
  Template/White Blue Template/img/portfolio/ikasma3bdg.webp
  Template/White Blue Template/img/portfolio/openblog.webp
  Template/White Blue Template/img/portfolio/smarthomeui.webp
  Template/White Blue Template/img/portfolio/sound.webp
  Template/White Blue Template/img/portfolio/twiceapi.webp
  Template/White Blue Template/img/profile-3.webp
  Template/White Blue Template/img/profile.png
  Template/White Blue Template/index.html
Due: html label

feat: White Blue Web Profile Template (#212)
  Template/White Blue Template/css/style.css
  Template/White Blue Template/img/hobby/coding.webp
  Template/White Blue Template/img/hobby/gaming-2.webp
  Template/White Blue Template/img/hobby/music.webp
  Template/White Blue Template/img/logo_template.png
  Template/White Blue Template/img/portfolio/findmyhobby.webp
  Template/White Blue Template/img/portfolio/gawedong.webp
  Template/White Blue Template/img/portfolio/ikasma3bdg.webp
  Template/White Blue Template/img/portfolio/openblog.webp
  Template/White Blue Template/img/portfolio/smarthomeui.webp
  Template/White Blue Template/img/portfolio/sound.webp
  Template/White Blue Template/img/portfolio/twiceapi.webp
  Template/White Blue Template/img/profile-3.webp
  Template/White Blue Template/index.html
  Template/White Blue Template/js/script.js
  Template/White Blue Template/vendor/bootstrap/js/bootstrap.min.js
  Template/White Blue Template/vendor/bootstrap/js/bootstrap.min.js.map
  Template/White Blue Template/vendor/jquery/jquery.easing.1.3.js
  Template/White Blue Template/vendor/jquery/jquery.js
  Template/White Blue Template/vendor/popper/popper.min.js
Due: html label, css label

add: menambah template portfolio responsive (#210)
  Template/Bee Templates/Responsive Portfolio/README.md
  Template/Bee Templates/Responsive Portfolio/asset/img/BeeCode.png
  Template/Bee Templates/Responsive Portfolio/asset/img/My Code.png
  Template/Bee Templates/Responsive Portfolio/dist/css/app.css
  Template/Bee Templates/Responsive Portfolio/dist/css/customize.css
  Template/Bee Templates/Responsive Portfolio/index.html
Due: html label, css label, markdown label

add: menambahkan HTML ID
  .vscode/settings.json
  HTML/021 HTML Id/ID.html
  HTML/021 HTML Id/README.md
  HTML/021 HTML Id/img/cara-memberi-style-pada-id.png
  HTML/021 HTML Id/img/specifity-pada-id.png
  HTML/023 HTML Script/README.md
Due: html label, markdown label

add: materi CSS Introduction
  CSS/000 CSS Introduction/README.md
Due: markdown label

add: HTML Script
  CSS/030 CSS Pseudo Elements/README.md
  HTML/021 HTML Id/ID.html
  HTML/021 HTML Id/README.md
  HTML/023 HTML Script/README.md
  HTML/023 HTML Script/img/contoh-script-1.png
  HTML/023 HTML Script/img/contoh-script-2.png
  HTML/023 HTML Script/script.html
Due: html label, markdown label

Update README.md
  HTML/021 HTML Id/README.md
Due: markdown label

fix: typo
  HTML/021 HTML Id/README.md
Due: markdown label

fix: menambahkan referensi pada script
  HTML/021 HTML Id/README.md
  HTML/023 HTML Script/README.md
Due: markdown label

fix: menghapus .vscode
  .vscode/settings.json
Due: none

fix: typo, dsb
  HTML/021 HTML Id/README.md
Due: markdown label

fix: menghapus .vscode
  .vscode/settings.json
  HTML/021 HTML Id/README.md
  HTML/023 HTML Script/README.md
Due: markdown label

Mengubah terjemahan atribut
  HTML/042 HTML Textarea/README.md
Due: markdown label

docs: memperbarui readme
  README.md
Due: markdown label

fix: konsistensi huruf kapital
  CSS/030 CSS Pseudo Elements/README.md
Due: markdown label

fix: penggunaan tanda baca dan kapital
  HTML/021 HTML Id/README.md
Due: markdown label

fix: tanda baca dan kapital
  HTML/023 HTML Script/README.md
Due: markdown label

docs: memperbaiki typo
  HTML/023 HTML Script/README.md
Due: markdown label

fix: typo
  HTML/023 HTML Script/README.md
Due: markdown label

HTML ID & Script (#216)
  CSS/030 CSS Pseudo Elements/README.md
  HTML/021 HTML Id/README.md
  HTML/021 HTML Id/img/cara-memberi-style-pada-id.png
  HTML/021 HTML Id/img/specifity-pada-id.png
  HTML/023 HTML Script/README.md
  HTML/023 HTML Script/img/contoh-script-1.png
  HTML/023 HTML Script/img/contoh-script-2.png
  HTML/023 HTML Script/script.html
Due: html label, markdown label

readme.md for css text-stoke
  CSS/058 CSS Text Stroke/README.md
Due: markdown label

Update HTML/042 HTML Textarea/README.md
  HTML/042 HTML Textarea/README.md
Due: markdown label

File yang salah
  HTML/assets/images/Cool.mp4
Due: none

docs: memperbaiki typo
  HTML/042 HTML Textarea/README.md
Due: markdown label

update text stoke to readme
  README.md
Due: markdown label

update readme
  README.md
Due: markdown label

docs: menambahkan dokumentasi css stroke
  CSS/058 CSS Text Stroke/README.md
Due: markdown label

docs: menambahkan link baru di readme.md
  README.md
Due: markdown label

Menambahkan Teks
  CONTRIBUTING.md
Due: markdown label

Menambah Tulisan sedikit
  CONTRIBUTING.md
Due: markdown label

Mengganti isi HTML Link
  HTML/027 HTML Link/README.md
Due: markdown label

Path conditions:
  html label: any of: \.html$
  css label: any of: \.css$
  markdown label: any of: \.md$
